<div class="${baseClass} "  data-dojo-type="qfacex/dijit/container/BorderContainer" data-dojo-props="liveSplitters:false,gutters:false,name:'mainNode'">
    <div class="listTop" data-dojo-type="qfacex/dijit/container/ContentPane" data-dojo-props="region:'top',name:'topNode'" style="width:100%;height:${topInitHeight}px;overflow:hidden">
        <div data-dojo-attach-point="navNode"></div>
        <div data-dojo-attach-point="filterNode">
            <div class="btn-group" style="width:100%" data-dojo-attach-point="breadcrumbsNode"></div>
            <div data-dojo-attach-point="catsNode"></div>
        </div>
    </div>
</div>
