<div class="mine-groups">
    <div class="smart-box clearfix">
        <div class="smart-box-head">
            <span class="title">我创建的</span>
        </div>
        <div class="owner" data-dojo-attach-point="ownerNode"></div>
    </div>
    <div class="smart-box clearfix">
        <div class="smart-box-head">
            <span class="title">我加入的</span>
            <div class="smart-control pull-right">
                <a class="prev" data-dojo-attach-point="joinedPrevNode">
                    <i class="${fontAwesome.angleLeft}"></i>
                </a>
                <a class="next" data-dojo-attach-point="joinedNextNode">
                    <i class="${fontAwesome.angleRight}"></i>
                </a>
            </div>
        </div>
        <div class="joined" data-dojo-attach-point="joinedNode"></div>
    </div>
    <div class="smart-box clearfix">
        <div class="smart-box-head">
            <span class="title">推荐</span>
            <div class="smart-control pull-right">
                <a class="prev" data-dojo-attach-point="recomPrevNode">
                    <i class="${fontAwesome.angleLeft}"></i>
                </a>
                <a class="next" data-dojo-attach-point="recomNextNode">
                    <i class="${fontAwesome.angleRight}"></i>
                </a>
            </div>
        </div>
        <div class="recommended" data-dojo-attach-point="recommendedNode"></div>
    </div>
</div>
