<div class="${baseClass}" data-dojo-attach-point="mainNode">
  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>  <div class="userItemContainer">
    <div class="avatar"><img src="http://localhost:3000//uploads/user/avatar/1/waitPage.jpg"></div>
    <i class="addBtn ${fontAwesome.blogAdd}"></i>
    <div class="name">undefined</div>
  </div>
</div>