<div>
	<ul class="cbp_tmtimeline">
		<li>
			<time class="cbp_tmtime" datetime="2014-10-03T18:30">
				<span class="hidden">03/10/2014</span>
				<span class="large">Now</span>
			</time>

			<div class="cbp_tmicon timeline-bg-gray"> <i class="fa fa-user"></i>
			</div>

			<div class="cbp_tmlabel empty">
				<span>No Activity</span>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-10-03T03:45">
				<span>03:45 AM</span>
				<span>Today</span>
			</time>

			<div class="cbp_tmicon timeline-bg-success"> <i class="fa fa-paper-plane-o"></i>
			</div>

			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Art Ramadani</a>
					<span>posted a status update</span>
				</h2>
				<p>
					Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
				</p>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-10-02T13:22">
				<span>01:22 PM</span>
				<span>Yesterday</span>
			</time>

			<div class="cbp_tmicon timeline-bg-primary">
				<i class="fa fa-calendar"></i>
			</div>

			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Job Meeting</a>
				</h2>
				<p>
					You have a meeting at <strong>Laborator Office</strong>
					Today.
				</p>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-09-19T20:23">
				<span>08:23 PM</span>
				<span>Two weeks ago</span>
			</time>

			<div class="cbp_tmicon timeline-bg-info">
				<i class="fa fa-location-arrow"></i>
			</div>
			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Art Ramadani</a>
					<span>posted a status update</span>
				</h2>
				<p>
					Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
				</p>
			</div>
			
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-09-19T20:23">
				<span>08:23 PM</span>
				<span>Two weeks ago</span>
			</time>

			<div class="cbp_tmicon timeline-bg-warning">
				<i class="fa fa-camera-retro"></i>
			</div>
			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Job Meeting</a>
				</h2>
				<p>
					You have a meeting at <strong>Laborator Office</strong>
					Today.
				</p>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-10-03T03:45">
				<span>03:45 AM</span>
				<span>Today</span>
			</time>

			<div class="cbp_tmicon timeline-bg-success"> <i class="fa fa-paper-plane-o"></i>
			</div>

			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Art Ramadani</a>
					<span>posted a status update</span>
				</h2>
				<p>
					Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
				</p>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-10-02T13:22">
				<span>01:22 PM</span>
				<span>Yesterday</span>
			</time>

			<div class="cbp_tmicon timeline-bg-primary">
				<i class="fa fa-calendar"></i>
			</div>

			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Job Meeting</a>
				</h2>
				<p>
					You have a meeting at <strong>Laborator Office</strong>
					Today.
				</p>
			</div>
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-09-19T20:23">
				<span>08:23 PM</span>
				<span>Two weeks ago</span>
			</time>

			<div class="cbp_tmicon timeline-bg-info">
				<i class="fa fa-location-arrow"></i>
			</div>
			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Art Ramadani</a>
					<span>posted a status update</span>
				</h2>
				<p>
					Tolerably earnestly middleton extremely distrusts she boy now not. Add and offered prepare how cordial two promise. Greatly who affixed suppose but enquire compact prepare all put. Added forth chief trees but rooms think may.
				</p>
			</div>
			
		</li>

		<li>
			<time class="cbp_tmtime" datetime="2014-09-19T20:23">
				<span>08:23 PM</span>
				<span>Two weeks ago</span>
			</time>

			<div class="cbp_tmicon timeline-bg-warning">
				<i class="fa fa-camera-retro"></i>
			</div>
			<div class="cbp_tmlabel">
				<h2>
					<a href="#">Job Meeting</a>
				</h2>
				<p>
					You have a meeting at <strong>Laborator Office</strong>
					Today.
				</p>
			</div>
		</li>
	</ul>
</div>