<div class="files gridRow" data-dojo-attach-point="mainContainerNode">
	<div class="files-header gridRow">
		<h2>Files</h2>
		<ul class="files-options list-unstyled list-inline">
			<li>
				<div class="cbr-replaced">
					<div class="cbr-input">
						<input type="checkbox" class="cbr cbr-done"></div>
					<div class="cbr-state">
						<span></span>
					</div>
				</div>
				<label for="select-all">Select all</label>
			</li>
			<li>
				<a href="#"> <i class="${fontAwesome.upload}"></i>
					Add File
				</a>
			</li>
			<li>
				<a href="#" data-action="edit"> <i class="${fontAwesome.blogEdit}"></i>
					Edit
				</a>
			</li>
			<li>
				<a href="#" data-action="trash">
					<i class="${fontAwesome.iconTrash}"></i>
					Trash
				</a>
			</li>
		</ul>
	</div>
	<div class="files-list" data-dojo-attach-point="fileListNode">
		<div class="file-item gridRow active">
			<div class="file-date">
				2015-1-29
			</div>
			<div class="file-meta">
				<span class="file-name">My first file</span>
				<span class="file-author">Uncle Zheng</span>
			</div>
		</div>
		<div class="file-item gridRow">
			<div class="file-date">
				2015-1-28
			</div>
			<div class="file-meta">
				<span class="file-name">The introduction of cloud</span>
				<span class="file-author">Hudao</span>
			</div>
		</div>
		<div class="file-item gridRow">
			<div class="file-date">
				2015-1-27
			</div>
			<div class="file-meta">
				<span class="file-name">File3</span>
				<span class="file-author">Uncle Zheng</span>
			</div>
		</div>
		<div class="file-item gridRow">
			<div class="file-date">
				2015-1-26
			</div>
			<div class="file-meta">
				<span class="file-name">File4</span>
				<span class="file-author">Uncle Zheng</span>
			</div>
		</div>
		<div class="file-item gridRow">
			<div class="file-date">
				2015-1-25
			</div>
			<div class="file-meta">
				<span class="file-name">File5</span>
				<span class="file-author">Uncle Zheng</span>
			</div>
		</div>
	</div>
</div>