<div class="form-horizonta">
    <div class="form-group">
        <span class="col-sm-3 control-label text-right">请选择院校</span>
    </div>
    <div class="form-group clearfix">
        <label class="control-label col-sm-2">province:</label>
        <div class="col-sm-6">
            <select class="form-control" data-dojo-attach-point="provinceNode"></select>
        </div>
    </div>
    <div class="form-group clearfix">
        <label class="control-label col-sm-2">univ:</label>
        <div class="col-sm-6">
            <select class="form-control disabled" data-dojo-attach-point="univNode"></select>
        </div>
    </div>
    <div class="form-group text-center">
        <a class="btn btn-primary btn-sm" data-dojo-attach-point="nextNode">下一步</a>
    </div>
</div>
