<div class="form-horizonta">
    <div class="form-group clearfix">
        <span for="name" class="control-label col-sm-3 text-right">背景图</span>
        <div class="col-sm-8 avatarBox">
            <div class="row">
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group.png" alt="...">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group2.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group3.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group4.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <div class="btn btn-primary btn-sm" title="打开文件系统">更多</div>
                </div>
            </div>
            <input type="file">
        </div>
    </div>

    <div class="form-group clearfix">
        <span for="name" class="control-label col-sm-3 text-right">头像</span>
        <div class="col-sm-8 avatarBox">
            <div class="row">
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group.png" alt="...">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group2.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group3.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <a href="#" class="thumbnail">
                        <img src="/assets/desktop/resources/images/add-group4.png">
                    </a>
                </div>
                <div class="col-sm-3 row">
                    <div class="btn btn-primary btn-sm" title="打开文件系统">更多</div>
                </div>
            </div>
            <input type="file">
        </div>
    </div>
</div>
